.App {
  text-align: center;
}

#lowerBoard,
#upperBoard {
  border: 5px black solid;
  display: flex;
  width: 410px;
  margin-right: auto;
  margin-left: auto;
}

#lowerBoard div,
#upperBoard div {
  height: 50px;
  width: 50px;
  border: 5px grey solid;
  text-align: center;
  line-height: 50px;
}

#lowerBoard div:hover,
#upperBoard div:hover {
  background-color: lightsteelblue;
  transition: 250ms;
  cursor: pointer;
}
